body {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}
.padding {
  padding: 4vw 4vw 1.6vw 4vw;
}

.background-primary {
  background-color: var(--background-primary);
}

.background-secondary {
  background-color: var(--background-secondary);
}

.radius-primary {
  border-radius: 50px;
}

.poke-name {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
}
.border-primary {
  border: 10px solid green;
}
.border-secondary {
  border: 10px solid greenyellow;
}
img {
  max-width: 95%;
  object-fit: contain;
}
.btn {
  margin-top: 20px;
  max-width: 100%;
}
.btn button {
  margin: 0 10px;
}
.decre {
  background-color: aquamarine;
}
.incre {
  background-color: aqua;
}
.decre:hover,
.incre:hover {
  background-color: beige;
}

figure {
  width: 65%;
  max-width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.flex {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
